.nav-aside li a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--cor1);
  padding: 1.25rem;
}

.nav-aside li a:hover span {
  color: var(--cor-principal);
}
