.container-cartao {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;
}

.header-cartao {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 1.25rem;
  background-color: var(--bg);
}

@media (max-width: 1200px) {
  .header-cartao {
    grid-template-columns: 1fr;
  }
}

.box-cartao {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background-color: var(--bg2);
  padding: var(--gap);
  border-radius: 5px;
}

.cartao {
  height: 180px;
  border-radius: 15px;
  background-color: var(--bg);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartao h3 {
  color: var(--cor3);
}

.cartao img {
  width: 50px;
}

.nome-impresso {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vencimento {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vencimento span {
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  line-height: 14px;
}
.vencimento p {
  color: var(--white);
  font-size: 0.845rem;
}

.box-limite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-limite h3 {
  font-weight: normal;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--cor3);
}

.box-limite p {
  font-weight: bold;
  color: var(--cor1);
}

.limite-disponivel {
  text-align: right;
}

.barra-progresso {
  margin-top: 7px;
  height: 7px;
  width: 100%;
  background-color: var(--bg);
  border-radius: 5px;
  position: relative;
}

.liquido {
  background-color: var(--cor-principal);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.aviso-limite {
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--cor1);
  margin-top: 0.625rem;
}

.aviso-limite b {
  color: var(--cor2);
}

/*  Area pagamento  */
.container-pagamento {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap);
  align-self: flex-start;
}

.box-pagamento {
  background-color: var(--bg2);
  padding: var(--gap);
  border-radius: 5px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box-pagamento h3 {
  color: var(--cor3);
}

.box-pagamento p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--cor2);
}

.box-selecionar-banco {
  width: 100%;
}

.box-selecionar-banco h3 {
  color: var(--cor3);
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 7px;
}

.select-banco {
  margin-top: 7px;
  position: relative;
}

[data-input] select {
  width: 100%;
  height: 50px;
  padding: 0 1.25rem;
  border: 0;
  background: var(--bg);
  border-radius: 5px;
  font-size: 0.845rem;
  font-family: "Roboto", "Poppins", sans-serif;
  color: var(--cor2);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select-banco select:disabled {
  cursor: not-allowed;
  color: var(--cor3);
}

[data-input] {
  width: 100%;
  position: relative;
}

[data-input] span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--cor-principal);
  position: absolute;
  top: 21.5px;
  right: 20px;
}

.select-banco select:focus ~ [data-input] span {
  background-color: var(--cor2);
}

@media (max-width: 1200px) {
  .box-selecionar-banco {
    grid-column: 1 / -1;
  }

  .box-pagamento h3 {
    font-size: 1rem;
  }
}

/* Faturas */
.wrapper-slide {
  overflow: hidden;
  position: relative;
  height: 100px;
}

.aviso-fatura {
  position: absolute;
  top: 0;
  left: 40px;
  width: calc(100% - 80px);
  height: 100%;
  z-index: 1000;
  background-color: rgba(15, 21, 22, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--cor1);
  font-size: 0.845rem;
  padding: 0 var(--gap);
}

.nav-faturas {
  height: 100%;
  background-color: var(--bg2);
  border-radius: 5px;
  position: sticky;
  top: 1.25rem;
  left: 0;
  z-index: 99;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  display: flex;
}

.box-faturas {
  display: flex;
  align-items: center;
  text-align: center;
  gap: var(--gap);
  padding: 0 1.25rem;
  transition: 0.3s;
}

.box-faturas ::-webkit-scrollbar {
  background-color: transparent;
  width: 7px;
  height: 7px;
}

.box-faturas a {
  color: var(--cor1);
  padding: var(--gap);
  border-radius: 5px;
  width: 120px;
}

.box-faturas a:hover {
  color: var(--cor-principal);
  background-color: var(--bg);
}

.box-faturas a p {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 18px;
  text-transform: uppercase;
}

.box-faturas a span {
  font-size: 0.75rem;
}

[data-mes]:nth-child(12) {
  margin-right: 20px;
}

[data-mes]:nth-child(1) {
  margin-left: 20px;
}

[data-mes].active a {
  background-color: var(--bg);
  color: var(--cor-principal);
}

.btn-slider {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--cor1);
  background-color: var(--bg5);
  z-index: 1000;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* border: 1px solid red; */
}

.btn-slider i {
  font-weight: bold;
}

.proximo {
  right: 0;
}

/* Tabela */

.tabela-transacao {
  height: 700px;
  overflow: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 1.25rem;
  background-color: var(--bg4);
  box-shadow: var(--box-shadow);
}

.transacao {
  color: var(--cor4);
  font-size: 0.845rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: relative;
  background-color: var(--bg2);
  border-radius: 0 5px 5px 0;
}

.transacao p {
  flex: 1;
}

[data-identificador] {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

[data-identificador="+"] {
  background-color: var(--green);
}

[data-identificador="-"] {
  background-color: var(--red);
}

.valor-transacao {
  font-weight: bold;
  text-align: right;
}

.data-transacao {
  text-align: center;
}

.aviso-transacao {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cor3);
  display: none;
}

.box-transacao {
  padding: 0;
  position: relative;
}

.box-transacao button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

.box-transacao button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.box-transacao button i {
  font-weight: bold;
  color: var(--cor-principal);
  font-size: 2rem;
}

.form-transacao {
  position: absolute;
  top: 170px;
  right: 0;
  width: 100%;
  background-color: var(--bg3);
  z-index: 99;
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.form-transacao h3 {
  color: var(--cor2);
}

.form-transacao input,
.form-transacao select,
.form-transacao button {
  height: 50px;
  border: 0;
  font-family: "Roboto", "Poppins", sans-serif;
  font-size: 0.845rem;
  outline: none;
  border-radius: 5px;
  color: var(--cor2);
  background-color: var(--bg2);
  padding: 0 1.25rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.box-input-transacao {
  width: 100%;
}

.mensagem {
  color: var(--cor1);
  font-size: 0.75rem;
  margin-top: 10px;
  text-align: center;
}

.form-transacao input {
  width: 100%;
  background: var(--bg2);
}

.form-transacao input::placeholder {
  color: var(--cor3);
}

.form-transacao button {
  background-color: var(--cor-principal);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

[data-card] {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: 0.3s;
}

[data-card].active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
