.container-cartao {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height: 100%;
}

.header-cartao {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap);
}

.box-cartao {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.cartao {
  width: 300px;
  height: 180px;
  border-radius: 15px;
  background-color: #30313a;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartao h3 {
  color: var(--cor3);
}

.nome-impresso {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
  posi
}

.vencimento {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vencimento span {
  text-transform: uppercase;
  color: var(--white);
  font-weight: bold;
  line-height: 14px;
}
.vencimento p {
  color: var(--white);
  font-size: 0.845rem;
}

.box-limite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-limite h3 {
  font-weight: normal;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--cor3);
}

.box-limite p {
  font-weight: bold;
  color: var(--cor1);
}

.barra-progresso {
  margin-top: 7px;
  height: 7px;
  width: 100%;
  background-color: var(--bg2);
  border-radius: 15px;
  position: relative;
}

.liquido {
  background-color: var(--cor-principal);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
}
